{% extends "base_menu.html" %}

{% block content %}
<h2 style = "color:#FF00FF">Signup Here! </h2>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" style = "color:#FF00FF; font-size:20px" >Sign up</button>
  </form>


{% endblock %}
